albumentations==0.5.2
certifi==2020.12.5
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
future==0.18.2
imageio==2.9.0
imgaug==0.4.0
joblib==0.17.0
kiwisolver==1.3.1
matplotlib==3.3.3
networkx==2.5
numpy==1.19.4
opencv-python
opencv-python-headless
pandas
Pillow==8.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv
PyWavelets==1.1.1
PyYAML==5.3.1
requests
scikit-image==0.16.2
scikit-learn==0.23.2
scipy==1.5.4
Shapely==1.7.1
six==1.15.0
threadpoolctl==2.1.0
tifffile
tqdm
typing-extensions==3.7.4.3
wincertstore==0.2